@import url('https://fonts.googleapis.com/css?family=Poppins:100, 200, 300, 400, 500, 600, 700, 800, 900');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.msf-logo .gh{
    
}
body{
    font-family: sans-serif;
    padding left: 5px;
}

nav{
    position: sticky;
    top: 0%;
    background: #0082e6;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-content: center;
}
label.logo{
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
    padding: 10px 5px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: whitesmoke;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #1b9bff;
    transition: 0.5s;
}
.checkbtn{
    color: whitesmoke;
    font-size: 20px;
    float: right;
    margin: 0px 12px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 856px){
    .logo{
        font-size: 20px;
        padding-left: 20px;
        margin-left: 0.5%;
        z-index: 999;
    }
    nav ul li a{
        font-size: 14px;
        z-index: 999;
    }
}
@media (max-width: 780px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        min-height: 100vh;
        min-width: 100vw;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 999;
    }
    nav ul li{
        display: block;
        
    }
    nav ul li a{
        font-size: 15px;
        z-index: 999;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
        transition: 0.1s;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(./images/choice2.jpg);
    background-size: cover;
    height: calc(60vh - 80px);
    width: 100vw;
    background-position: center;
    background-attachment: ;
    display: flex;
}
/* .hero-text{
    text-align: left;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-40%, -40%);
    max-lines: ;
    color: white;
} */
/* .hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background: rgba(255, 0, 242, 0.575);
} */

.box-shadow{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background: #060c21;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: ;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.container .box{
    /* position: relative;
    height: 400px;
    background: #060c21;
    display: flex; */
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    box-shadow: 10px 10px 10px 0 ;
}
.container .box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}
.content{
    position: ;
    padding: 20px;
}
.box .content h2{
    position: ;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}
.box:hover .content h2{
    top: -40px
}
.box .content h3{
    margin: 0 0 10px;
    padding: 0;
    font-weight: 500;
    color: #fff;
}
.box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 12px;
}
.box .content a{
    position: relative;
    margin: 5px;
    padding: 04px 10px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: ;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .content a{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.box .content a:hover{
    background: #fff;
    color: black;
}

.social{
    top: 200px;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: ;
    transform: translate(-215px, 0);
    z-index: 2;
}
.social a{
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 10px;
    width: 250px;
    text-align: right;
    border-radius: 50px;
    transition: transform 1s;
}
.social a:hover{
    transform: translate(140px, 0);

}

.social i{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;

}
.social a:nth-child(1) i{
    color: #1DA0F0;
}
.social a:nth-child(2) i{
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
    -webkit-background-clip: text;
    font-weight: ;
}
.social a:nth-child(3) i{
    color: #4ECCE8;
}
/* .social a:nth-child(4) i{
    color: #F80000;
} */
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.board{
    width: 20%;
    background: #fff;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 9px;
    margin-bottom: 50px;
    transition: 0.3s;
}
.header{
    text-align: center;
    line-height: 160px;
    height: 200px;
    padding: 40px 10px;
    background: linear-gradient(to right,#637bd3, #f84f4f);
    background-image: url(./images/pexels-rebecca-zaal-764681.jpg);
    background-size: cover;
    color: #b60e0e;
}
.body{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}
.body .btn{
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #637bd3, #f84f4f);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}
.board:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width:1000px){
    .board{
        width: 40%;
    }
}
@media screen and (max-width:620px){
    .header{
        padding: 20px;
        font-size: 20px;
    }
    .board{
        width: 80%;
    }
}




